@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #393185 50%, yellow);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(135deg, yellow , #393185);
}
.content form .information-student{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .information-student .ip-text{
  margin-bottom: 15px;
  width: calc(100% / 2 - 25px);
}
form .ip-text span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
#toggleBtn {
  width: 45px;
  margin: 0 0 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: large;
}

.password-container {
  display: flex;
  align-items: center;
}

.information-student .ip-text input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.information-student .ip-text input:focus
{
  border-color: yellow;
}
 form .gender-mahiti .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-evenly;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two
{
   background: yellow;
   border-color: #393185;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px  ;
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: rgb(0, 0, 0);
   font-size: 12px;
   font-size: 20px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #393185, yellow);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, yellow, #393185);
  }
  


























  
      /* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(60, 100%, 50%); /* Light gray */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196F3; /* Blue */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(60, 100%, 50%); /* Darker blue */
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(197, 197, 142); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393185; /* Yellow */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #393185; /* Darker yellow */
}
